// 全局按钮
.el-button.el-button--primary:not(.el-button--text) {
    background: var(--el-color-primary);
    border-color: transparent;
    color: #fff;
    // border: none;
    &:hover {
        color: #fff;
        background-color: var(--el-color-primary-light-3);
    }
    &:focus {
        color: #fff;
        background-color: var(--el-color-primary-dark-2);
    }
    &.is-disabled {
        color: #fff;
        background-color: var(--el-color-primary-light-7);
    }
    &.is-loading,
    &.is-loading.is-disabled {
        color: #fff;
        background-color: var(--el-color-primary);
        border-color: transparent;
        opacity: 0.92;
    }
    &.is-loading:hover,
    &.is-loading:focus,
    &.is-loading.is-disabled:hover,
    &.is-loading.is-disabled:focus {
        color: #fff;
        background-color: var(--el-color-primary);
        border-color: transparent;
        opacity: 0.92;
    }
    &.is-plain {
        background: var(--el-color-primary-light-9);
        color: var(--el-color-primary);
    }
}

.el-button:not(.el-button--text) {
    background: #ffffff;
    border: 1px solid var(--el-color-primary);
    color: var(--el-color-primary);
    &:hover {
        background: #ffffff;
        border-color: var(--el-color-primary-light-3);
        color: var(--el-color-primary);
    }
    &:focus {
        background: #ffffff;
        color: var(--el-color-primary);
        border-color: var(--el-color-primary-dark-2);
    }
    &.is-disabled {
        background: #ffffff;
        color: var(--el-color-primary-light-7);
        border-color: var(--el-color-primary-light-7);
        &:hover {
            background: #ffffff;
            border-color: var(--el-color-primary-light-7);
            color: var(--el-color-primary-light-7);
        }
    }
}

.el-button--text {
    color: var(--el-color-primary);
    &:hover {
        color: var(--el-color-primary);
    }
    &:focus {
        color: var(--el-color-primary);
    }
    &.is-disabled {
        color: var(--el-color-primary-light-7);
        &:hover {
            color: var(--el-color-primary-light-7);
        }
    }
}

.el-button.el-button--medium {
    padding: 8px 14px;
}

// link 超链接
.el-link {
    &.el-link--primary {
        color: var(--el-color-primary);
        &:hover {
            color: var(--el-color-primary-light-3);
        }
    }
    &.el-link--success {
        color: #00b42a;
        &:hover {
            color: #23c343;
        }
    }
    &.el-link--danger {
        color: #f53f3f;
        &:hover {
            color: #f76560;
        }
    }
}

// 下拉框
.el-select-dropdown {
    .el-select-dropdown__item.selected {
        color: var(--el-color-primary);
    }
    .el-select-dropdown__item.hover {
        color: var(--el-color-primary);
    }
}

// 日期
.el-picker-panel {
    .el-date-table td.today span {
        color: var(--el-color-primary);
    }
    .el-date-table td.today.current span {
        color: #fff;
    }
    .el-date-table td.available:hover {
        color: var(--el-color-primary);
    }
    .el-date-table td.current:not(.disabled) span,
    .el-date-table td.end-date span,
    .el-date-table td.start-date span {
        background-color: var(--el-color-primary);
    }
}

// 表格
.el-table {
    .el-table__header {
        background-color: #ebeff5;
        overflow: hidden;
        .el-table__cell {
            background-color: #ebeff5;
            border-color: #e7e7e7;
            text-align: center;
            height: 48px;
            .cell {
                color: #1d2129;
            }
        }
    }
    .el-link {
        max-width: 100%;
        .el-link--inner {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .el-table__fixed-body-wrapper {
        border-right: 1px solid #ebeef5;
        .el-table__row {
            .el-table__cell {
                height: 48px;
            }
        }
    }
}

// 弹框
.el-dialog:not(.wbench-el-dialog):not(.is-fullscreen) {
    .el-dialog__body {
        max-height: 50vh;
        overflow: auto;
    }
}

.el-dialog.is-fullscreen {
    .el-dialog__body {
        height: calc(100vh - 57px - 65px);
        overflow: auto;
    }
}
