@import "./variables.module.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";
@import "./staff.scss";
$main: #1a74f0;
$fontColor: #626262;

:root {
  /* 与旧项目 theme color 保持一致 */
  --el-color-primary: #014acb;
  /* Element Plus hover/focus 等会用到派生变量，若不补齐会仍使用默认主题(#409EFF)的派生色 */
  --el-color-primary-dark-2: #013ba2;
  --el-color-primary-light-3: #2765d3;
  --el-color-primary-light-5: #80a5e5;
  --el-color-primary-light-7: #b2c9ef;
  --el-color-primary-light-8: #ccdbf5;
  --el-color-primary-light-9: #e6edfa;
  --el-color-success: #00B42A;
  --el-color-warning: #FF7D00;
  --el-color-danger: #F53F3F;
}

@supports (color: color-mix(in srgb, #000 0%, #fff 100%)) {
  :root {
    --el-color-primary-dark-2: color-mix(in srgb, var(--el-color-primary) 80%, #000);
    --el-color-primary-light-3: color-mix(in srgb, var(--el-color-primary) 85%, #fff);
    --el-color-primary-light-5: color-mix(in srgb, var(--el-color-primary) 50%, #fff);
    --el-color-primary-light-7: color-mix(in srgb, var(--el-color-primary) 30%, #fff);
    --el-color-primary-light-8: color-mix(in srgb, var(--el-color-primary) 20%, #fff);
    --el-color-primary-light-9: color-mix(in srgb, var(--el-color-primary) 10%, #fff);
  }
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: SourceHanSansCN;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  color: $fontColor;
}

.fromapp {
  touch-action: auto;
  transform: scale(1);
  transform-origin: left top;
  // min-height: 900px;
  min-width: 1200px;
  height: 100%;
  position: absolute;
}

.apph5 {
  width: 100%;
  min-width: 100%;

  .confirmWinClass {
    width: 99vw;
  }

  .page-leave {
    .file-name {
      width: 220px !important;
    }
    padding: 0 !important;

    .el-form .el-form-item {
      display: flex;
      align-items: center;
    }
    .el-form-item__label {
      font-size: 12px;
      line-height: inherit;
      align-content: center !important;
      max-width: 60px !important;
      min-width: 60px !important;
      width: 60px !important;
    }

    .el-form-item__content {
      flex: 1;
      margin-left: 0px !important;
    }
  }

  .el-form-item__label {
    // position: relative;
    display: inline-grid;
    left: -10px;
    /* 设置相对定位作为星号的定位基准 */
    text-align: justify;
    text-align-last: justify;
    line-height: 20px;
  }

  .el-form-item.is-required > .el-form-item__label::before {
    content: "*";
    left: -5px;
    color: red;
    position: absolute;
    margin-right: 0 !important;
    margin-top: 1px;
  }
}

#app {
  height: 100%;

  & > .flow-form-page {
    display: block;
    // width: 100%;
    // height: 100%;
    // padding: 15px;
  }

  & > .is-disabled {
    // width: 100%;
    // height: 100%;
    // padding: 15px;
    .el-input__inner,
    .el-textarea__inner {
      color: #333 !important;
    }
  }

  & > div:not(.app-wrapper) {
    margin: 15px;
    width: calc(100% - 30px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

//main-container全局样式

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 10px;
}

.table-page-content {
  background: white;
  overflow: hidden;
  border-radius: 10px;
  padding: 0 10px;
}

.filter-container {
  padding: 10px;

  h3 {
    display: inline-block;
    line-height: 32px;
    font-size: 16px;
    color: #313234;
  }

  .filter-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    line-height: 32px;
    font-size: 15px;
    font-weight: 500;
  }

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  .filter-label {
    line-height: 1;
    font-size: 14px;
    margin-left: 20px;
    color: rgb(98, 98, 98);
  }

  .filter-label:first-child {
    margin-left: 0;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.text-more {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.h100 {
  height: 100%;
}

.custom-tree {
  height: calc(100% - 50px);
  overflow-y: auto;
  margin-top: 10px;

  .tree-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    padding-right: 8px;
    position: relative;
    color: $main;

    .tree-icon {
      margin-right: 5px;
    }

    .tree-text {
      max-width: 180px;
      min-width: 70px;
    }

    .btn-box {
      position: absolute;
      color: $main;
      visibility: hidden;
      right: 0;
      background: white;

      i {
        margin-right: 5px;
      }
    }
  }

  .tree-label:hover {
    .btn-box {
      visibility: visible;
    }
  }
}

.el-form {
  display: block;
  .file-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .file-add {
      background: #f6f6f6;
      justify-content: space-around;
    }

    .file-item {
      width: 80px;
      height: 80px;
      position: relative;
      color: $main;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-right: 10px;

      .file {
        width: 40px;
        margin-top: 10px;
      }

      .name {
        max-width: 100%;
        font-size: 12px;
        line-height: 14px;
      }

      .close {
        position: absolute;
        right: 2px;
        top: 2px;
        cursor: pointer;
      }
    }

    .file-item:hover {
      background: #f6f6f6;
    }
  }
}

.wbench-el-dialog .el-dialog__header {
  background: $main;
  padding: 16px !important;
  height: auto !important;
  line-height: normal !important;

  .el-dialog__title {
    color: #fff;
    font-weight: normal;
  }
  button.el-dialog__headerbtn {
    top: 12px !important;
  }
}
.wbench-el-dialog .el-dialog__body {
  padding: 16px !important;
}

.wbench-el-dialog.form .el-dialog__body,
.wbench-el-dialog.process .el-dialog__body {
  height: calc(100% - 55px);
  margin-top: 0px;
}

.wbench-el-dialog .wbench-el-dialog-main {
  height: calc(100% - 0px);
}

.wbench-form-header .send-btn {
  background: $main;
}

.user-select .el-dialog__header {
  background: $main;
}

//.el-dialog__title:before
//{
//  content: " | ";
//}
.wbench-process-page {
  box-sizing: content-box;
}

.widget-render .widget-design {
  .el-textarea.is-disabled .el-textarea__inner {
    color: #333 !important;
    // color: #1A74F0;
  }
}

.el-image-viewer__btn.el-image-viewer__close {
  color: #fff;
}

