@import './variables.module.scss';

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}
button[type='button']:focus {
  outline: none;
  box-shadow: none !important;
}
.search-mybox{
  width: 100%;
  background-color: #fff;
  position: relative;
  margin-bottom: 10px;
  z-index: 99;
  height: 40px;
}
.myleft{
  width: calc(100% - 430px);
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 35px;
}
.myfull{
  background-color: #fafafa;
  box-shadow: 5px 10px 10px 0 #939393;
  height: auto;
}
.myright{
  float: right;
  max-width: 420px;
  height: 35px;
  button[type='button'] {
	  padding: 7px 15px!important;
	}
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.openOrClose {
  height: auto;
  max-height: 400upx;
  overflow: hidden;
}
.tableTop{
  margin-top: 10px;
}
.elbtntxt{
  font-size: 14px !important;
}