$check-blue: #4878e7;
$border-color: #e8e8e8;
$bg-blue: #4878e7;
/*清除浮动*/
%clearfix {
  *zoom: 1;

  &:after {
    content: "";
    display: block;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}
.staff-box {
  position: fixed;
  width: 900px;
  height: 670px;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -335px;
  background-color: #fff;
  z-index: 4000;
  border-radius: 2px;
  box-shadow: #939393 0 0 10px;
  -webkit-box-shadow: #939393 0 0 10px;
  -moz-box-shadow: #939393 0 0 10px;

  > .staff-header {
    position: relative;
    padding: 12px 18px;
    font-size: 18px;

    > .title {
      display: inline-block;
    }

    > .close {
      position: absolute;
      top: 8px;
      right: 18px;
      display: inline-block;

      > .iconfont {
        font-size: 24px;
        color: $check-blue;
        cursor: pointer;
      }
    }
  }

  > .staff-main {
    padding: 0 18px;
    font-size: 14px;

    > .staff-tabs {

      > .item {
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px solid #fff;
        padding: 5px 15px 8px;
        margin: 0 5px;

        &.active {
          border-color: $check-blue;
        }
      }
    }

    > .staff-content {
      @extend %clearfix;

      > .left {
        display: inline-block;
        width: 55%;
        float: left;
        @extend %clearfix;

        > .left-main {
          width: 90%;
          float: left;
          height: auto !important;
          > .person-main {
            width: 100%;
            border: 1px solid $border-color;

            > .form-tree {
              width: 100%;
              height: 265px;
              border-bottom: 1px solid $border-color;

              > .header {
                padding: 10px;
                background-color: #fafafa;
                @extend %clearfix;

                > .item {
                  display: inline-block;
                  float: left;

                  &.left {
                    width: 60%;
                  }

                  &.right {
                    width: 40%;
                  }

                  > .el-select, > .el-input {
                    width: 95%;
                  }

                  > .el-input {
                    > .el-input-group__append {
                      padding: 0 10px;
                    }
                  }

                  > .el-checkbox {
                    position: relative;
                    top: 6px;

                    .el-checkbox__label {
                      padding-left: 5px;
                      font-size: 14px;
                    }
                  }

                  .el-input__inner {
                    padding: 0 10px;
                  }
                }
              }

              > .content {
                height: 200px;
                padding: 5px 0;
                overflow-x: hidden;

                .el-tree .el-tree-node__expand-icon.expanded {
                  transform: rotate(0deg);
                  -webkit-transform: rotate(0deg);
                }

                .el-tree .el-icon-caret-right:before {
                  content: "\e78a";
                  font-size: 18px;
                  color: #333;
                  padding-left: 5px;
                }

                .el-tree .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
                  content: "\e784";
                  font-size: 18px;
                  color: #333;
                  padding-left: 5px;
                }

                .el-tree .el-icon-caret-right {
                  &.is-leaf {
                    &:before {
                      color: transparent;
                    }
                  }
                }

                .el-tree .el-tree-node__expand-icon.expanded.el-icon-caret-right {
                  &.is-leaf {
                    &:before {
                      color: transparent;
                    }
                  }
                }
              }
            }

            > .person-box {
              margin-top: 35px;
              padding: 5px 0;
              width: 100%;
              height: 200px;
              overflow-x: hidden;
              border-top: 1px solid $border-color;

              .item {
                padding: 5px 8px;
                cursor: pointer;
                @extend %clearfix;

                &.active, &:hover {
                  background-color: $bg-blue;
                  color: #fff;
                }

                > .name {
                  float: left;
                  width: 50%;
                  display: inline-block;
                }

                > .type {
                  float: right;
                  width: 50%;
                  display: inline-block;
                }
              }
            }
          }
        }

        > .btn-box {
          float: right;
          width: calc(10% - 2px);
          margin-top: 210px;

          > .btn {
            text-align: center;
            margin-bottom: 15px;

            .iconfont {
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              color: $check-blue;
            }
          }
        }
      }

      > .right {
        display: inline-block;
        width: 45%;
        float: right;
        @extend %clearfix;

        > .right-main {
          width: 90%;
          float: left;
          border: 1px solid $border-color;
          height: 512px;
          overflow-x: hidden;

          > .person-box {
            > .header {
              padding: 10px;
              background-color: #fafafa;

              .el-input-group__append {
                padding: 0 10px;
              }
            }

            .content {
              height: 435px;
              padding: 10px 0;
              overflow-x: hidden;

              .item {
                padding: 5px 10px;
                cursor: pointer;

                &.active, &:hover {
                  background-color: $bg-blue;
                  color: #fff;
                }
              }
            }
          }
        }

        > .btn-box {
          float: right;
          width: calc(10% - 2px);
          margin-top: 210px;

          > .btn {
            text-align: center;
            margin-bottom: 15px;

            .iconfont {
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              color: $check-blue;
            }
          }
        }
      }
    }
  }

  > .staff-footer {
    text-align: right;
    margin-top: 12px;
    margin-right: 30px;

    > .btn-defined {
      width: 60px;
      text-align: center;
      margin-left: 20px;
    }
  }
}
